<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Normal debug log appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="virtuallab" type="ch.qos.logback.core.rolling.RollingFileAppender">
        <file value="Logs/virtuallab.log"/>
        <appendToFile value="true"/>
        <maxSizeRollBackups value="5"/>
        <maximumFileSize value="5MB"/>
        <rollingStyle value="Size"/>
        <staticLogFileName value="true"/>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

    <!-- Specify the level specific to co.myapp.notifier -->
    <logger name="co.myapp.notifier">
        <level value="ALL" />
        <appender-ref ref="virtuallab" />
    </logger>

</configuration>